
      

	
<div id="site_content">	
		
				<div id="content_about">
				
					   <div class="content_item">
				 
				 			<h3>About UFO Hunters, his technology and us</h3>
							<br/>
							<p>This site is made by two enthusiasts guys of extraterrestrial life and the new technologies.</p>
				 			
				 			<p>The first thing we did was to download the big free database of infochimps.com <a href="http://www.infochimps.com/datasets/60000-documented-ufo-sightings-with-text-descriptions-and-metada">60,000+ DOCUMENTED UFO SIGHTINGS WITH TEXT DESCRIPTIONS AND METADATA"</a>.</p>

				 			<p>We did a import the data set of UFO sightings to <a href="http://www.mongodb.org/">MongoDB</a> database</a>, we use 2.4 version. This NoSQL database has allowed us to do very easy the difficult things, for example the searches by coordinates we did it with index 2dsphere.</p>

				 			<p>The design of this portal is based in a free design of <a href="http://www.araynordesign.co.uk">ARaynorDesign</a>.</p>

				 			<p>This site is made with open-source web framework <a href="http://rubyonrails.org/">Ruby on Rails</a>. has been wonderful to work with this framework.</p>

				 			<p>The images</p>

				   
				</div>
  		</div>
</div> 
