
      

	

	<div id="site_content">	

	 	<div id="content">
				 
				   <div id="main-post">
					<div class="share_bar">
					    <span class='st_sharethis_hcount' displayText='ShareThis'></span>
						<span class='st_facebook_hcount' displayText='Facebook'></span>
						<span class='st_twitter_hcount' displayText='Tweet'></span>
						<span class='st_googleplus_hcount' displayText='Google +'></span>
						<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
					</div>
					<div class="post">
						 
	<p class="meta">
	<small>Sighted on <strong></strong><br/>
	Reported on <strong></strong><br/>
	Shape: <strong></strong> | Duration: <strong></strong><br/>
	Source: <strong></strong></small>
	</p>
	<div class="entry">
	   <p></p>
	   						 
        </div>
	</div>
     </div>
     <div id="other-posts">
     <div id="nearest_sightings_carousel">
    
    	<div class="post"> 
         <h2 class="title"></h2>
         <p class="meta">
	    <small>Sighted on <strong></strong><br/>
	    Shape: <strong></strong> | Duration: <strong></strong></small>
         </p>
	</div>
	
     </div>
     <a id="next_btn">More</a>
     </div>

  </div>
</div> 
