

<div class="row">
		<div class="span12">
 			<h3>About UFO Hunters</h3>
 		</div>
</div>

<div class="row">
		<div class="span12">
			<blockquote>
				<p>An unidentified flying object, or UFO, in its most general definition, is any apparent anomaly in the sky (or near or on the ground, but observed hovering, landing, or departing into the sky) that is not readily identifiable as any known object or phenomenon by visual observation and/or use of associated instrumentation such as radar. These anomalies were referred to popularly as "flying saucers" or "flying discs" during the late 1940s and early 1950s."</p>
			</blockquote>
		</div>
</div>			

<div class="row">
		<div class="span12">
         <p>That is the wikipedia's definition of Unidentified Flying Object. <strong>ufo-hunters.com</strong> collects a huge data set of sightings all over the world. Our main purpose is to collaborate spreading <strong>objective UFO data</strong>. We thank the work of organizations such as <a href="http://www.nuforc.org/" target="_blank">NUFORC</a> and <a href="http://www.mufon.com/" target="_blank">MUFON</a> that collect and investigate sighting reports and are a source of inspiration for us.</p>
		</div>
</div>	         

<div class="row">
		<div class="span12"> 
			<h3>Who's behind ufo-hunters.com ?</h3>
 		</div>
</div>	

<div class="row">
		<div class="span12"> 
 			<p>Behind <strong>ufo-hunters.com</strong> there are two enthusiast guys of both extraterrestrial life and new technologies. Our first purpose was to collaborate in the dissemination of UFO Data as we found the large data set available at infochimps.com: <a href="http://www.infochimps.com/datasets/60000-documented-ufo-sightings-with-text-descriptions-and-metada" target="_blank">60,000+ DOCUMENTED UFO SIGHTINGS WITH TEXT DESCRIPTIONS AND METADATA"</a></p>
 		</div>
</div>	 

<div class="row">
		<div class="span12"> 
 			<p>Our secondary purpose was to experiment with new technologies, and had the challenge to publish this project to production in a few weeks. At this point we know we choose the best possible stack and are proud to announce that all the resources and technologies we used are open source.
 		</div>
</div>	 

<div class="row">
		<div class="span12"> 
 			<p>All UFO data were imported into a <strong>NoSQL</strong> database called <a href="http://www.mongodb.org/">MongoDB</a>, currently version 2.4.3, with geospatial "2dsphere" indexes that considerably ease all the stuff with coordinates and geolocation.</p>

<div class="row">
		<div class="span12"> 
 			<!-- p>The design of this site is based on a free design by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a>.</p-->
 		</div>
</div>	 

<div class="row">
		<div class="span12"> 
 			<p>We also used some resources available at <a href="http://www.freecsstemplates.org/preview/puzzled/">freeCSStemplates.org</a></p>
 		</div>
</div>	 

<div class="row">
		<div class="span12"> 
 			<p>This site is built with an incredibly powerful web framework called <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>, that uses the <a href="http://www.ruby-lang.org" target="_blank">most eloquent and elegant programming language</a> we've ever used.</p>
 		</div>
</div>	 

<div class="row">
		<div class="span12"> 
 			<p>All the images in this site are available at <a href="http://www.openclipart.org" target="_blank">OpenClipArt.org</a></p>
 		</div>
</div>	 

<div class="row">
		<div class="span12"> 
 			<p>We've applied lots of javascript resources, such as the well known <a href="http://jquery.com/" target="_blank">jQuery</a>, <a href="http://caroufredsel.dev7studios.com/" target="_blank">jQuery.carouFredSel</a> "a plugin that turns any kind of HTML element into a carousel", and <a href="http://d3js.org/" target="_blank">D3.js</a> for data-driven documents generation.</p>
 		</div>
</div>	 

<div class="row">
		<div class="span12"> 
 			<p>The funny bubble graph showing the distribution of UFO's shapes is made from the code shared at <a href="https://github.com/ricardmo/vishna" target="_blank">github</a> by <a href="https://github.com/ricardmo" target="_blank">ricardmo</a>.</p>

		</div>
</div>


<div class="row">
		<div class="span12"> 
				<p>Building responsive website using <a href="http://getbootstrap.com/">Twitter BootStrap</a>.</p>
		</div>
</div>
