
<div class="w-full mb-4">
  <h3 class="text-xl font-bold text-[#D7DF21]">Latest UFO sightings in Asia</h3>
</div>

<div class="w-full mb-4">
  <div id="sightings-map" class="w-full h-[550px] rounded-lg"></div>
</div>

<%= render partial: 'common/map', locals: {ufo_list: @ufo_list, map_id: 'sightings-map', map_zoom: 2, map_center: [83.64,28.24]} %>

<div class="my-5">
  <%= render partial: 'common/ads/horizontal_ad' %>
</div>

<div class="w-full mb-4">
  <h3 class="text-xl font-bold text-gray-200">100 latest UFO sightings:</h3>
</div>

<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12 lg:col-span-8">
    <%= render partial: 'common/latest_sightings' %>
  </div>
  <div class="col-span-12 lg:col-span-4">
    <%= render partial: 'common/ads/adaptable3' %>
  </div>
</div>
