<div class="section">
      <h1>Oops!, something went wrong... sorry!</h1>
      <div class="article"> 
        <h2>An error occurred in the application and your page could not be served.  Please try again in a few moments.</h2>
      </div> 
    </div>