

  <div class="row">
			<div class="span12">
				<h3>Latest UFO sightings in Oceania</h3>
			</div>
  </div>

  <div class="row">
			<div class="span12">
					<div id="sightings-map" style="width: 100%; height: 550px;"></div>
			</div>
  </div>

	<%= render partial: 'common/map', locals: {ufo_list: @ufo_list, map_id: 'sightings-map', map_zoom: 3, map_center: [147.65625,-28.76766]} %>

  <div class="row" style="margin-top: 20px;margin-bottom: 20px">
    <%= render partial: 'common/ads/horizontal_ad' %>
  </div>

  <div class="row">
		<div class="span12">
 		 	<h3>100 latest UFO sightings:</h3>
 		</div>
  </div>

	<div class="row">
		<%= render partial: 'common/latest_sightings' %>
		<%= render partial: 'common/ads/adaptable3' %>
	</div>
