<%= stylesheet_link_tag "ufo-data", :media => "all" %>
<%= javascript_include_tag "custom-tooltip" %>
<%= javascript_include_tag "d3.v3.min.js" %>

<div id="site_content">			
   <div id="content">
      <div class="content_item">
          <h2>A glance at our data</h2>
	  <p>The following bubble graph represents the wide variety of sightings' shapes. Select a bubble to know the number of sightings and the corresponding shape.<br/>The graph is dinamically generated to keep it up to date as our database is updated. </p>
       </div>
       <div class="content_item">
          <article>
             <div class="top">
             </div>
          </article>
          <%= javascript_include_tag "ufo-data.js" %>
       </div>
    </div>
</div> 
