<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script>

$(document).ready(function(){
     $("#new_report").validate({
    });
});

</script>

  <div class="row">
          <div class="span12">
                <h3>UFOs Search</h3>
          </div>
  </div>

  <div class="row">
          <div class="span12">
      <p>
        First of all, thank you very much for using our UFO search engine. Here you can search our huge database, choosing a location and a date range.
      </p>
      <p>
        The search will be performed between the dates chosen, around the location (<u>within a radius of 200 miles from the selected location</u>).
      </p>
      <p>
        In the <strong>Start Date</strong> field, please select the starting date from which you want to perform your query. The <strong>End Date</strong> field indicates the upper limit for your date range.
      </p>
      <p>
        Finally, fill in the <strong>Location</strong> field, as you would do in Google Maps. Once done, don't forget to click <strong>Find Location</strong> to know whether the provided location is valid or not.
      </p>
      <p>
        Just below the map, type in the captcha field the letters you see in the image, and click on <strong>SEARCH UFOS</strong> to get the results.
      </p>
    </div>
   </div>

<script>

      $(function() {
        $( "#startdate" ).datepicker({dateFormat: "mm/dd/yy", changeYear: true, yearRange: "1900:c" });

        $( "#enddate" ).datepicker({dateFormat: "mm/dd/yy", changeYear: true, yearRange: "1900:c" });

        $('form').validate({
              messages: {
                "coord": {
                  required: "The location has to be searched on the map!. Do click \"Find location\" button"
                }
              }
        });

      });

</script>

<%= form_tag('/sightings/ufosearchresults', :id => 'ufosearch', :name => 'ufosearch')  do %>

  <div class="row">


          <div class="span6">

                                <label for="startdate">Start Date <span class="divrojo">*</span></label>

                                <input type="text" id="startdate" name="startdate" size="12" class="required date">

          </div>
          <div class="span6">

                                <label for="enddate">End Date <span class="divrojo">*</span></label>

                                <input type="text" id="enddate" name="enddate" size="12" class="required date">
          </div>

  </div>

  <div class="row">
          <div class="span12">
                                <label for="report_location">Location <span class="divrojo">*</span></label>
                                <input type="text" name="report_location" id="report_location" class="required">
                                <a class="submit-button-coordenate" href="javascript:codeAddress();">Find Location</a>

                                <input type="text" size="30" name="coord" id="coord" class="required" style="visibility: hidden;">
                                <div id="map-canvas" class="map-canvas"></div>
          </div>

  </div>
  <div class="row">

          <div class="span6">
                              <%= show_simple_captcha(:label => "")%>
                              <div class="caja-text"><span class="divrojo"><%=@notice%></span></div>

          </div>
          <div class="span6">
                              <input type="submit" class="submit-button" value="SEARCH UFOS" name="commit">
          </div>
  </div>


  <% end %>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqjT3yR9w2D96HTvEfAdyf8N95MpOisH4&sensor=false"></script>
                    <script>


                    var geocoder;
                    var map;
                    var marker;
                    var mapOptions;

                    var $latitude = document.getElementById('latitude');
                    var $longitude = document.getElementById('longitude');
                    var $coord = document.getElementById('coord');

                    function initialize() {
                      geocoder = new google.maps.Geocoder();
                      var latlng = new google.maps.LatLng(34.16473667601063, -40.57035354999999);
                      mapOptions = {
                        zoom: 3,
                        center: latlng,
                        position: [34.16473667601063, -40.57035354999999],
                        scrollwheel: true,
                        zoomControl: true,
                        scaleControl: true,
                        streetViewControl: true,
                        overviewMapControl: true
                      }
                      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                    }



                    function codeAddress() {


                      geocoder = new google.maps.Geocoder();
                      mapOptions = {
                        zoom: 8
                      }
                      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                      var address = document.getElementById('report_location').value;
                      geocoder.geocode( { 'address': address}, function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                          map.setCenter(results[0].geometry.location);
                          marker = new google.maps.Marker({
                              map: map,
                              position: results[0].geometry.location,
                              animation: google.maps.Animation.DROP,
                              draggable: true
                          });


                          //$latitude.value = results[0].geometry.location.lat();
                          //$longitude.value = results[0].geometry.location.lng();


                          $coord.value =  results[0].geometry.location.lng() + "," + results[0].geometry.location.lat() ;

                          google.maps.event.addListener(marker, 'dragend', function(marker){
                                var latLng = marker.latLng;
                                //$latitude.value = latLng.lat();
                                //$longitude.value = latLng.lng();
                                $coord.value =  latLng.lng() + "," + latLng.lat() ;
                          });
                          // populate yor box/field with lat, lng

                        } else {
                          alert('Geocode was not successful for the following reason: ' + status);
                        }
                      });
                    }


                    google.maps.event.addDomListener(window, 'load', initialize);
                    </script>
