

	<script type="text/javascript">
	function init() {
	}
	</script>
	<div class="row">
		<div class="span12">	
							<h3>Recent UFO Activity</h3>
							<p>Discover the latest UFO sightings videos all over the world</p>
		</div>
	</div>
			   
    <div class="row">
		  <div class="span12">	
		  	<p>Drag the videos so that you can take a look at the UFO Video Gallery</p>
		  </div>
    </div>
	
	<div class="row" style="margin-top: 20px;margin-bottom: 20px">
		    <div class="span12" itemscope itemtype="http://schema.org/WPAdBlock" >
		 		    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- AnuncioAdaptable3 -->
					<ins class="adsbygoogle"
					     style="display:block"
					     data-ad-client="ca-pub-4760111415025425" 
					     data-ad-slot="4432690882"
					     data-ad-format="auto"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>		
			</div>	

	</div>

	<div class="row">
		    <div class="span12">	
			    <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-controls blueimp-gallery-carousel blueimp-gallery-display blueimp-gallery-playing">
					  <div class="slides"></div>
					  <h3 class="title"></h3>
					  <a class="prev">‹</a>
					  <a class="next">›</a>
					  <a class="play-pause"></a>
					  
				</div>
			</div>
    </div>

	<script src="http://blueimp.github.io/Gallery/js/blueimp-gallery.min.js"></script>

   <script type="text/javascript">
				
				blueimp.Gallery([
				<%
					video_cont = 0
		    		@ufo_list.each do |ufo| 

		        		video_urls, other_urls = select_youtube_videos(ufo.links)

						unless video_urls.blank?
							
							video_urls.each do |vid|

								video_id = youtube_video_id(vid)

								url_image_video = Ufo::THUMBS_URL_BASE + video_id.to_s + "/0.jpg"

								if video_cont != 0
					              	%>
					                   ,
					              	<%
					            end

								%>
							    {
							        title: '<%=friendly_title(ufo)%>',
							        href: '<%=vid%>',
							        type: 'text/html',
							        youtube: '<%=video_id%>',
							        poster: '<%=url_image_video%>'
							    }
							    <%	
							    video_cont += 1

							end

						end 

					end
				%>
				    


				], {
			        container: '#blueimp-gallery-carousel',
			        carousel: true
			    });


    </script>

    

	<div class="row" style="margin-top: 20px;margin-bottom: 20px">
		    <div class="span12" itemscope itemtype="http://schema.org/WPAdBlock" >
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<ins class="adsbygoogle"
							     style="display:block"
							     data-ad-client="ca-pub-4760111415025425"
							     data-ad-slot="6918386485"
							     data-ad-format="auto"></ins>
							<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
		    </div>
	</div>

 

