/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*/

body {
  margin: 0;
  display: table;
  height: 100%;
  width: 100%;
  font: 14px/134% Helvetica Neue, sans-serif;
}

#center {
  display: table-cell;
  vertical-align: middle;
}

#fig {
  position: relative;
  margin: auto;
}
// Place all the styles related to the sightings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html
{ height: 100%;} 

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 80% Arial, Helvetica, sans-serif;
  background: #FFF;
  color: #000;
}

p
{ padding: 0 0 10px 0;
  color: #1D1D1D;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% Arial, Helvetica, sans-serif;
  color: #1D1D1D;
  text-shadow: 1px 1px #fff;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}

h2
{ font: normal 165% Arial, Helvetica, sans-serif;}

h3
{ font: normal 130% Arial, Helvetica, sans-serif;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font: normal 150% Arial, Helvetica, sans-serif;
  color: #FFF;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Arial, Helvetica, sans-serif;
  color: #888;
  padding-bottom: 15px;}

a, a:hover
{ color: #1D1D1D;
  background: transparent;
  outline: none;
  text-decoration: none;}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer, #content_grey
{ margin-left: auto; 
  margin-right: auto;}

#basicMap
{padding: 15px 0 0 0;}

#main
{ background: transparent;}
  
#header
{ width: 920px;
  height: 120px;
  background: transparent;}

#banner
{ width: 920px;
  position: relative;
  height: 50px;
  padding: 15px 0 0 0;
  background: transparent;}

#menubar
{ width: 920px;
  height: 50px;
  text-align: center; 
  margin: 0 auto;
  background: #1D1D1D;
  background: -moz-linear-gradient(#3F4A5F, #698DC5);
  background: -o-linear-gradient(#3F4A5F, #698DC5);
  background: -webkit-linear-gradient(#3F4A5F, #698DC5);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  } 
  
#welcome
{ width: 880px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;} 
  
#welcome_slogan
{ width: 880px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;}   
   
#welcome H1
{ font: normal 300% Arial, Helvetica, sans-serif;
  letter-spacing: -3px;
  text-shadow: 1px 1px #fff;
  color: #1D1D1D;}

#welcome_slogan H1
{ font: normal 200% Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  text-shadow: 1px 1px #fff;
  color: #535353;}  
  
ul#menu
{ margin:0;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 0px -1px 0px #000;
  padding: 6px 20px 0 20px;
  background: transparent; 
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;} 
  
ul#menu li.current a
{ color: #1D1D1D;
  background: #FFF;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  text-shadow: none;}
  
ul#menu li:hover a
{ color: #1D1D1D;
  background: #FFF;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  text-shadow: none;}

#site_content
{ width: 920px;
  overflow: hidden;
  margin: 0 auto;} 

.sidebar_container
{ float: left;
  margin: 10px 20px 0 0;
  width: 215px;
  padding: 0;}

.sidebar
{ float: left;
  width: 250px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  width: 215px;}

.sidebar h2
{ padding: 5px 0 0 10px;
  font: normal 140% Arial, Helvetica, sans-serif;
  height: 30px;
  text-shadow: 0px -1px 0px #000;
  color: #fff;
  background: #1D1D1D;
  background: -moz-linear-gradient(#3F4A5F, #698DC5);
  background: -o-linear-gradient(#3F4A5F, #698DC5);
  background: -webkit-linear-gradient(#3F4A5F, #698DC5);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}  

#content
{ #width: 680px;
  margin-bottom: 20px;
  float: left;}

.content_item
{ #width: 680px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;}

.content_item h3 {
    color: #2A2A2A;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 0px;
}

.content_item a {
	color: #3F4A5F;
}

#main-post {
   font-size: 12px;
   line-height: 25px;
   padding: 0 20px;
   float: left;
   width: 570px;
}

.post {
   border-bottom: 1px dashed #9C9C9C;
   margin-bottom: 10px;
}

.post .title {
   margin: 0;
}

.post h1 {
   font-size: 2.2em;
   letter-spacing: -1px;
   font-weight: normal;
}

.post .meta {
   color: #505050;
   font-size: 13px;
   line-height: normal;
   margin: 0;
   padding-bottom: 10px;
   padding-top: 10px;
}

.post .meta small > strong {
   color: #1D1D1D;
}

.post .entry {
   margin-bottom: 20px;
   padding-bottom: 5px;
   text-align: justify;
}

#other-posts {
   float: right;
   font-size: 12px;
   line-height: 25px;
   padding: 0 20px 20px;
   width: 250px;
} 

#other-posts .title {
  font-size: 1.4em;
  font-weight: normal;
}

#next_btn {
   font-weight: bold;
   float: right;
}

.content_image
{ float: left; 
  width: 150px;
  height: 150px;
  margin: 0 20px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
.content_container
{ width: 280px;
  padding: 5px;
  margin-right: 10px;
  float: left;
}

.content_container h3
{
  margin: 0 0 0px;
}

.content_container
{
  text-align: center;
}

.content_container > div.shareEgg {
	height: 120px;
	margin-top: 50px;
}

.content_container p
{
  font-size: 15px;
  margin: 10px 0 10px;
  padding-right: 10px;
  color: #5A5A5A;
}
  
#content_grey
 { width: 920px;
  height: 160px;
  text-align: center; 
  background: #1D1D1D;
  background: -moz-linear-gradient(#3F4A5F, #698DC5);
  background: -o-linear-gradient(#3F4A5F, #698DC5);
  background: -webkit-linear-gradient(#3F4A5F, #698DC5);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;} 
  
#content_grey p
 { color: #FFF;}  

#content_grey h4
{ text-shadow: none;}
  
.content_grey_container_box
{ width: 270px;
  padding: 5px;
  text-align: center;
  margin: 20px 10px 10px 10px;
  float: left;}

.content_grey_container_boxl
{ width: 270px;
  padding: 5px;
  text-align: center;
  margin: 20px 0 10px 10px;
  float: left;}
  
#footer
{ width: 920px;
  height: 20px;
  padding-top: 20px;
  text-align: center; 
  background: transparent;
  text-shadow: 1px 1px #fff;
  color: #535353;}

#footer a, #footer a:hover
{ color: #535353;
  text-decoration: none;
  padding-bottom: 20px;}

#footer a:hover
{ text-decoration: underline;}

#footer a, #footer a:hover
{ color: #535353;
  text-decoration: none;}

#footer a:hover
{ text-decoration: underline;}
  
 .readmore
{ font: bold 110% Arial, Helvetica, sans-serif;
  height: 15px;
  width: 80px;
  margin-left: 95px;
  padding: 5px 2px 7px 2px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
 .readmore a
{ color: #1D1D1D;}
 
 .button_small
{ font: normal 110% Arial, Helvetica, sans-serif;
  height: 15px;
  width: 80px;
  padding: 5px 2px 7px 2px;
  background: #1D1D1D;
  background: -moz-linear-gradient(#3F4A5F, #698DC5);
  background: -o-linear-gradient(#3F4A5F, #698DC5);
  background: -webkit-linear-gradient(#3F4A5F, #698DC5);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
.button_small a
{ color: #FFF;
  padding-left: 5px;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #5082BD; 
  color: #FFF;}

/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 680px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 0;
  margin-top: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 680px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px; 
  background: transparent url(../images/transparent.png) repeat;  
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;}
 
div.sighting_carousel {
  float: left;
  display: block;
  margin: 7px;
  padding: 9px;
  width: 184px;
  height: 70px;
  border-right: 1px solid #B0B0B0; 
  margin-right: 10px; 
  text-align: center;
}

p.activity {
  font-size: 12px;
}

/*  CARRUSEL MAPS*/

.image_carousel {
	padding: 30px 80px 80px 60px;
	position: relative;
}
.content_continent {
	border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
	width: 200px;
	height: 210px ;
	text-align: center;
}
a.prev, a.next { 
	background: url(/assets/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev {			left: 25px;
					background-position: 0 0; 
					top: 140px;}
a.prev:hover {		background-position: 0 -50px; }
a.prev.disabled {	background-position: 0 -100px !important;  }
a.next {			right: 25px;
					background-position: -50px 0; 
					top: 140px;}
a.next:hover {		background-position: -50px -50px; }
a.next.disabled {	background-position: -50px -100px !important;  }
a.prev.disabled, a.next.disabled {
	cursor: default;
}

a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background: url(/assets/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.pagination a span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}
.list_carousel {
  padding: 15px 0 15px 40px;
}
.list_carousel ul {
  list-style: none;
}
.list_carousel li {
  float: left;
  width: 134px;
  height: 100px;
  margin: 10px;
  font: 100% Arial,Helvetica,sans-serif;
}
.list_carousel a
{ color: #3F4A5F;
  background: transparent;
  outline: none;
  text-decoration: none;}

.share_bar {
   margin: 0 0 5px;
}
/* line 5, ../../app/assets/stylesheets/sightings.css.scss */
html {
  height: 100%;
}

/* line 8, ../../app/assets/stylesheets/sightings.css.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 12, ../../app/assets/stylesheets/sightings.css.scss */
body {
  font: normal 80% Arial, Helvetica, sans-serif;
  background: #FFF;
  color: #000;
}

/* line 18, ../../app/assets/stylesheets/sightings.css.scss */
p {
  padding: 0 0 10px 0;
  color: #1D1D1D;
  line-height: 1.7em;
  font-size: 100%;
}

/* line 24, ../../app/assets/stylesheets/sightings.css.scss */
img {
  border: 0;
}

/* line 27, ../../app/assets/stylesheets/sightings.css.scss */
h1, h2, h3, h4, h5, h6 {
  font: normal 175% Arial, Helvetica, sans-serif;
  color: #1D1D1D;
  text-shadow: 1px 1px #fff;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
}

/* line 34, ../../app/assets/stylesheets/sightings.css.scss */
h2 {
  font: normal 165% Arial, Helvetica, sans-serif;
}

/* line 37, ../../app/assets/stylesheets/sightings.css.scss */
h3 {
  font: normal 130% Arial, Helvetica, sans-serif;
}

/* line 41, ../../app/assets/stylesheets/sightings.css.scss */
h4, h5, h6 {
  margin: 0;
  padding: 0 0 0px 0;
  font: normal 150% Arial, Helvetica, sans-serif;
  color: #FFF;
  line-height: 1.5em;
}

/* line 48, ../../app/assets/stylesheets/sightings.css.scss */
h5, h6 {
  font: normal 95% Arial, Helvetica, sans-serif;
  color: #888;
  padding-bottom: 15px;
}

/* line 53, ../../app/assets/stylesheets/sightings.css.scss */
a, a:hover {
  color: #1D1D1D;
  background: transparent;
  outline: none;
  text-decoration: none;
}

/* line 59, ../../app/assets/stylesheets/sightings.css.scss */
a:hover {
  text-decoration: underline;
}

/* line 62, ../../app/assets/stylesheets/sightings.css.scss */
ul {
  margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;
}

/* line 68, ../../app/assets/stylesheets/sightings.css.scss */
ol {
  margin: 8px 0 22px 20px;
}

/* line 71, ../../app/assets/stylesheets/sightings.css.scss */
ol li {
  margin: 0 0 11px 0;
}

/* line 74, ../../app/assets/stylesheets/sightings.css.scss */
#main, #header, #banner, #menubar, #site_content, #footer, #content_grey {
  margin-left: auto;
  margin-right: auto;
}

/* line 78, ../../app/assets/stylesheets/sightings.css.scss */
#basicMap {
  padding: 15px 0 0 0;
}

/* line 81, ../../app/assets/stylesheets/sightings.css.scss */
#main {
  background: transparent;
}

/* line 84, ../../app/assets/stylesheets/sightings.css.scss */
#header {
  width: 920px;
  height: 120px;
  background: transparent;
}

/* line 89, ../../app/assets/stylesheets/sightings.css.scss */
#banner {
  width: 920px;
  position: relative;
  height: 50px;
  padding: 15px 0 0 0;
  background: transparent;
}

/* line 96, ../../app/assets/stylesheets/sightings.css.scss */
#menubar {
  width: 920px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  background: #1D1D1D;
  background: -moz-linear-gradient(#3f4a5f, #698dc5);
  background: -o-linear-gradient(#3f4a5f, #698dc5);
  background: -webkit-linear-gradient(#3f4a5f, #698dc5);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

/* line 113, ../../app/assets/stylesheets/sightings.css.scss */
#welcome {
  width: 880px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;
}

/* line 121, ../../app/assets/stylesheets/sightings.css.scss */
#welcome_slogan {
  width: 880px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;
}

/* line 129, ../../app/assets/stylesheets/sightings.css.scss */
#welcome H1 {
  font: normal 300% Arial, Helvetica, sans-serif;
  letter-spacing: -3px;
  text-shadow: 1px 1px #fff;
  color: #1D1D1D;
}

/* line 135, ../../app/assets/stylesheets/sightings.css.scss */
#welcome_slogan H1 {
  font: normal 200% Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  text-shadow: 1px 1px #fff;
  color: #535353;
}

/* line 141, ../../app/assets/stylesheets/sightings.css.scss */
ul#menu {
  margin: 0;
}

/* line 144, ../../app/assets/stylesheets/sightings.css.scss */
ul#menu li {
  padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;
}

/* line 151, ../../app/assets/stylesheets/sightings.css.scss */
ul#menu li a {
  float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 0px -1px 0px #000;
  padding: 6px 20px 0 20px;
  background: transparent;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
}

/* line 166, ../../app/assets/stylesheets/sightings.css.scss */
ul#menu li.current a {
  color: #1D1D1D;
  background: #FFF;
  background: -moz-linear-gradient(white, #cccccc);
  background: -o-linear-gradient(white, #cccccc);
  background: -webkit-linear-gradient(white, #cccccc);
  text-shadow: none;
}

/* line 174, ../../app/assets/stylesheets/sightings.css.scss */
ul#menu li:hover a {
  color: #1D1D1D;
  background: #FFF;
  background: -moz-linear-gradient(white, #cccccc);
  background: -o-linear-gradient(white, #cccccc);
  background: -webkit-linear-gradient(white, #cccccc);
  text-shadow: none;
}

/* line 182, ../../app/assets/stylesheets/sightings.css.scss */
#site_content {
  width: 920px;
  overflow: hidden;
  margin: 0 auto;
}

/* line 187, ../../app/assets/stylesheets/sightings.css.scss */
.sidebar_container {
  float: left;
  margin: 10px 20px 0 0;
  width: 215px;
  padding: 0;
}

/* line 193, ../../app/assets/stylesheets/sightings.css.scss */
.sidebar {
  float: left;
  width: 250px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 200, ../../app/assets/stylesheets/sightings.css.scss */
.sidebar_item {
  font: normal 100% Arial, Helvetica, sans-serif;
  width: 215px;
}

/* line 204, ../../app/assets/stylesheets/sightings.css.scss */
.sidebar h2 {
  padding: 5px 0 0 10px;
  font: normal 140% Arial, Helvetica, sans-serif;
  height: 30px;
  text-shadow: 0px -1px 0px #000;
  color: #fff;
  background: #1D1D1D;
  background: -moz-linear-gradient(#3f4a5f, #698dc5);
  background: -o-linear-gradient(#3f4a5f, #698dc5);
  background: -webkit-linear-gradient(#3f4a5f, #698dc5);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

/* line 221, ../../app/assets/stylesheets/sightings.css.scss */
#content {
  #width: 680px;
  margin-bottom: 20px;
  float: left;
}

/* line 226, ../../app/assets/stylesheets/sightings.css.scss */
.content_item {
  #width: 680px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

/* line 231, ../../app/assets/stylesheets/sightings.css.scss */
.content_item a {
  font: bold;
  color: #3F4A5F;
}

/* line 236, ../../app/assets/stylesheets/sightings.css.scss */
.content_item a:hover {
  color: #51607B;
  text-decoration: underline;
}

/* line 241, ../../app/assets/stylesheets/sightings.css.scss */
.content_location {
  width: 140px;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  float: left;
  height: 80px;
}

/* line 250, ../../app/assets/stylesheets/sightings.css.scss */
.content_image {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 20px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

/* line 259, ../../app/assets/stylesheets/sightings.css.scss */
.content_container {
  width: 280px;
  padding: 5px;
  margin-right: 10px;
  float: left;
}

/* line 265, ../../app/assets/stylesheets/sightings.css.scss */
#content_grey {
  width: 920px;
  height: 160px;
  text-align: center;
  background: #1D1D1D;
  background: -moz-linear-gradient(#3f4a5f, #698dc5);
  background: -o-linear-gradient(#3f4a5f, #698dc5);
  background: -webkit-linear-gradient(#3f4a5f, #698dc5);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

/* line 280, ../../app/assets/stylesheets/sightings.css.scss */
#content_grey p {
  color: #FFF;
}

/* line 283, ../../app/assets/stylesheets/sightings.css.scss */
#content_grey h4 {
  text-shadow: none;
}

/* line 286, ../../app/assets/stylesheets/sightings.css.scss */
.content_grey_container_box {
  width: 270px;
  padding: 5px;
  text-align: center;
  margin: 20px 10px 10px 10px;
  float: left;
}

/* line 293, ../../app/assets/stylesheets/sightings.css.scss */
.content_grey_container_boxl {
  width: 270px;
  padding: 5px;
  text-align: center;
  margin: 20px 0 10px 10px;
  float: left;
}

/* line 300, ../../app/assets/stylesheets/sightings.css.scss */
#footer {
  width: 920px;
  height: 20px;
  padding-top: 20px;
  text-align: center;
  background: transparent;
  text-shadow: 1px 1px #fff;
  color: #535353;
}

/* line 309, ../../app/assets/stylesheets/sightings.css.scss */
#footer a, #footer a:hover {
  color: #535353;
  text-decoration: none;
  padding-bottom: 20px;
}

/* line 314, ../../app/assets/stylesheets/sightings.css.scss */
#footer a:hover {
  text-decoration: underline;
}

/* line 317, ../../app/assets/stylesheets/sightings.css.scss */
#footer a, #footer a:hover {
  color: #535353;
  text-decoration: none;
}

/* line 321, ../../app/assets/stylesheets/sightings.css.scss */
#footer a:hover {
  text-decoration: underline;
}

/* line 324, ../../app/assets/stylesheets/sightings.css.scss */
.readmore {
  font: bold 110% Arial, Helvetica, sans-serif;
  height: 15px;
  width: 80px;
  margin-left: 95px;
  padding: 5px 2px 7px 2px;
  background: #fff;
  background: -moz-linear-gradient(white, #cccccc);
  background: -o-linear-gradient(white, #cccccc);
  background: -webkit-linear-gradient(white, #cccccc);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

/* line 341, ../../app/assets/stylesheets/sightings.css.scss */
.readmore a {
  color: #1D1D1D;
}

/* line 344, ../../app/assets/stylesheets/sightings.css.scss */
.button_small {
  font: normal 110% Arial, Helvetica, sans-serif;
  height: 15px;
  width: 80px;
  padding: 5px 2px 7px 2px;
  background: #1D1D1D;
  background: -moz-linear-gradient(#3f4a5f, #698dc5);
  background: -o-linear-gradient(#3f4a5f, #698dc5);
  background: -webkit-linear-gradient(#3f4a5f, #698dc5);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

/* line 360, ../../app/assets/stylesheets/sightings.css.scss */
.button_small a {
  color: #FFF;
  padding-left: 5px;
}

/* line 364, ../../app/assets/stylesheets/sightings.css.scss */
.form_settings {
  margin: 15px 0 0 0;
}

/* line 367, ../../app/assets/stylesheets/sightings.css.scss */
.form_settings p {
  padding: 0 0 4px 0;
}

/* line 370, ../../app/assets/stylesheets/sightings.css.scss */
.form_settings span {
  float: left;
  width: 280px;
  text-align: left;
}

/* line 375, ../../app/assets/stylesheets/sightings.css.scss */
.form_settings input, .form_settings textarea {
  padding: 2px;
  width: 299px;
  font: 100% arial;
  border: 1px solid #E5E5DB;
  background: #FFF;
  color: #47433F;
}

/* line 383, ../../app/assets/stylesheets/sightings.css.scss */
.form_settings input[type="checkbox"] {
  padding: 2px 0;
  width: 15px;
  font: 100% arial;
  border: 0;
  background: #FFF;
  color: #47433F;
  margin: 28px 0;
}

/* line 392, ../../app/assets/stylesheets/sightings.css.scss */
.form_settings .submit {
  font: 100% arial;
  border: 1px solid;
  width: 99px;
  margin: 0 0 0 206px;
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer;
  background: #5082BD;
  color: #FFF;
}

/* styling for the slideshow on the homepage */
/* line 403, ../../app/assets/stylesheets/sightings.css.scss */
ul.slideshow {
  list-style: none;
  width: 680px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 0;
  margin-top: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

/* line 415, ../../app/assets/stylesheets/sightings.css.scss */
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
}

/* line 422, ../../app/assets/stylesheets/sightings.css.scss */
ul.slideshow li.show {
  z-index: 500;
}

/* line 425, ../../app/assets/stylesheets/sightings.css.scss */
ul img {
  border: none;
}

/* line 428, ../../app/assets/stylesheets/sightings.css.scss */
#slideshow-caption {
  width: 680px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 500;
}

/* line 436, ../../app/assets/stylesheets/sightings.css.scss */
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px;
  background: transparent url(../images/transparent.png) repeat;
  z-index: 1000;
}

/* line 441, ../../app/assets/stylesheets/sightings.css.scss */
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;
}
/*
body {
    font-family: 'Verdana', sans-serif;
    font-size: 10pt;
}

h1 {
    text-align: left;
    font-size: 12pt;
    margin: 8px 0 0 8px;
    color: #fefefe;
}
*/

.top {
    text-align: left;
    width: 85%;
    margin: 8px auto 0px auto;
    background-color: rgb(0, 136, 204);
    line-height: 18pt;
}
/*
.top a {
    color: #fefefe;
}

.top a:visited {
    color: #fefefe;
}

h1 > small {
    margin: 0 0 0 26px;
    font-size: 10pt;
    font-weight: 400;
}
*/
 .popover {
      z-index: 9000;
 }

.tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    border: 1px solid #e0e0e0;
    background-color: #fefefe;
    opacity: .9;
    color: black;
    padding: 10px;
    width: 300px;
    font-size: 7pt;
    z-index: 10;
}

.tooltip .title a {
    font-size: 8pt;
    font-weight: bold;
    color: #000;
}
/*
a {
      text-decoration: none;
      color: #ff7f0c;
}

a:visited {
      color: #08c;
}

a:hover {
      text-decoration: underline;
}
*/
article {
      margin: auto auto auto auto;
      text-align: center;
}

svg {
      margin: 0 auto 20px auto;
      min-width: 960px;
      min-height: 600px;
}
/*
footer {
    text-align: center;
}
*/
a > circle {
      fill: #698DC5;
}

a:visited > circle {
      fill: #08c;
      stroke: #00c;
}

a:hover > circle {
      stroke: #000;
}
