     
    <%

    rocket_black_brant = Report.new
    rocket_black_brant.coord = [-75.45257, 37.91062]
    rocket_black_brant.location = 'Black Brant 12 (Wallops Island)'
    rocket_black_brant.description = 'A rocket experiment that may shed light on the highest clouds in the Earth’s atmosphere was conducted from NASA\'s Wallops Flight Facility in Virginia on September 19, 2009. The experiment was launched on a NASA Black Brant XII Sounding Rocket.'

    %><%= render partial: 'common/map', locals: {ufo_list: ufo_list, map_id: 'basicMap', marker: rocket_black_brant, marker_icon: 'blackbrant.png', map_zoom: 4} %>

    <div class="row">
                <div class="span8">         
                        <div id="basicMap" style="width: 100%; height: 550px;"></div>       
                </div>
    </div>

    <div class="row">                    
                <div class="span8">
                                       
                        <p class="meta" style="padding-top: 10px">
                            On 19 September 2009 MUFON and NUFORC received lots of sighting reports. The map above shows all of them. The influence area was the East Coast of the United States.
                        </p>
                        <p class="meta">
                            In the map we have placed a marker in the location where the rocket was launched and around it, there are lots of sightings that were reported to MUFON and NUFORC (you can click on the icons to see the report). Most of the sightings were reported with the following: <strong>"cone-shaped burst of light"</strong>.
                        </p>
                        <p class="meta">
                            This cone-shaped burst of light was an artificial noctilucent cloud formed by the exhaust particles of the rocket's fourth stage at an altitude of about 278 km (173 mi). Here are several sketches which were reported to MUFON:
                            
                           
                            <div class="well" style="padding: 0">
                                <div id="gallery" class="carousel slide" style="margin: 0">
                                            <div class="carousel-inner" style="width: 90%; margin: auto;">

                                          <div class="item active">
                                            <div class="row-fluid">

                                              <div class="span6" style="text-align:center">
                                                <a href="http://www.mufoncms.com/files/19462_submitter_file1__object.jpg" target="_blank"><img src="http://www.mufoncms.com/files/19462_submitter_file1__object.jpg" alt="sighting sketch" width="300"/></a>
                                              </div>

                                              <div class="span3" style="text-align:center">
                                                 <a href="http://www.mufoncms.com/files/21409_submitter_file1__ufosept19Zoom.jpg" target="_blank"><img src="http://www.mufoncms.com/files/21409_submitter_file1__ufosept19Zoom.jpg" alt="sighting sketch" width="160"/></a>
                                              </div>
                                              
                                              <div class="span3" style="text-align:center">
                                                 <a href="http://www.mufoncms.com/files/19457_submitter_file1__091909.jpg" target="_blank"><img src="http://www.mufoncms.com/files/19457_submitter_file1__091909.jpg" width="160"/></a>
                                              </div>

                                            </div>
                                          </div>
                                                
                                      </div>
                                </div>
                            </div>
                        </p>

                         <p class="meta">
                            Below you can see some photos of this cone-shaped lighting:

                            <div class="well" style="padding: 0">
                                <div id="gallery" class="carousel slide" style="margin: 0">
                                            <div class="carousel-inner" style="width: 90%; margin: auto;">

                                          <div class="item active">
                                            <div class="row-fluid">

                                              <div class="span6" style="text-align:center">
                                                <a href="http://www.mufoncms.com/files/19394_submitter_file1__sept192009.jpg"><img src="http://www.mufoncms.com/files/19394_submitter_file1__sept192009.jpg" width="300"/></a>
                                              </div>

                                              <div class="span6" style="text-align:center">
                                                 <a href="http://www.mufoncms.com/files/19550_submitter_file3__teardropturnsredatdusk.JPG" target="_blank"><img src="http://www.mufoncms.com/files/19550_submitter_file3__teardropturnsredatdusk.JPG" width="300"/></a>
                                              </div>
                                              
                                            </div>
                                          </div>
                                                
                                      </div>
                                </div>
                            </div>

                        </p>

                </div>               
    </div>
      
