// Place all the styles related to the sightings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html
{ height: 100%;} 

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 80% Arial, Helvetica, sans-serif;
  background: #FFF;
  color: #000;
}

p
{ padding: 0 0 10px 0;
  color: #1D1D1D;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% Arial, Helvetica, sans-serif;
  color: #1D1D1D;
  text-shadow: 1px 1px #fff;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}

h2
{ font: normal 165% Arial, Helvetica, sans-serif;}

h3
{ font: normal 130% Arial, Helvetica, sans-serif;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font: normal 150% Arial, Helvetica, sans-serif;
  color: #FFF;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Arial, Helvetica, sans-serif;
  color: #888;
  padding-bottom: 15px;}

a, a:hover
{ color: #1D1D1D;
  background: transparent;
  outline: none;
  text-decoration: none;}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer, #content_grey
{ margin-left: auto; 
  margin-right: auto;}

#basicMap
{padding: 15px 0 0 0;}

#main
{ background: transparent;}
  
#header
{ width: 920px;
  height: 120px;
  background: transparent;}

#banner
{ width: 920px;
  position: relative;
  height: 50px;
  padding: 15px 0 0 0;
  background: transparent;}

#menubar
{ width: 920px;
  height: 50px;
  text-align: center; 
  margin: 0 auto;
  background: #1D1D1D;
  background: -moz-linear-gradient(#3F4A5F, #698DC5);
  background: -o-linear-gradient(#3F4A5F, #698DC5);
  background: -webkit-linear-gradient(#3F4A5F, #698DC5);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  } 
  
#welcome
{ width: 880px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;} 
  
#welcome_slogan
{ width: 880px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;}   
   
#welcome H1
{ font: normal 300% Arial, Helvetica, sans-serif;
  letter-spacing: -3px;
  text-shadow: 1px 1px #fff;
  color: #1D1D1D;}

#welcome_slogan H1
{ font: normal 200% Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  text-shadow: 1px 1px #fff;
  color: #535353;}  
  
ul#menu
{ margin:0;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 0px -1px 0px #000;
  padding: 6px 20px 0 20px;
  background: transparent; 
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;} 
  
ul#menu li.current a
{ color: #1D1D1D;
  background: #FFF;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  text-shadow: none;}
  
ul#menu li:hover a
{ color: #1D1D1D;
  background: #FFF;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  text-shadow: none;}

#site_content
{ width: 920px;
  overflow: hidden;
  margin: 0 auto;} 

.sidebar_container
{ float: left;
  margin: 10px 20px 0 0;
  width: 215px;
  padding: 0;}

.sidebar
{ float: left;
  width: 250px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  width: 215px;}

.sidebar h2
{ padding: 5px 0 0 10px;
  font: normal 140% Arial, Helvetica, sans-serif;
  height: 30px;
  text-shadow: 0px -1px 0px #000;
  color: #fff;
  background: #1D1D1D;
  background: -moz-linear-gradient(#3F4A5F, #698DC5);
  background: -o-linear-gradient(#3F4A5F, #698DC5);
  background: -webkit-linear-gradient(#3F4A5F, #698DC5);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}  

#content
{ 
  margin-bottom: 20px;
  float: left;}

.content_item
{ 
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;}

.content_item h3 {
    color: #2A2A2A;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 0px;
}

.content_item a {
	color: #3F4A5F;
}

#main-sighting {
   font-size: 12px;
   line-height: 25px;
   padding: 0 20px;
   float: left;
   width: 570px;
}

.post {
   border-bottom: 1px dashed #9C9C9C;
   margin-bottom: 10px;
}

.post .title {
   margin: 0;
}

.post h1 {
   font-size: 2.2em;
   letter-spacing: -1px;
   font-weight: normal;
}

.post .meta {
   color: #505050;
   font-size: 13px;
   line-height: normal;
   margin: 0;
   padding-bottom: 10px;
   padding-top: 10px;
}

.post .meta small > strong {
   color: #1D1D1D;
}

.post .entry {
   margin-bottom: 20px;
   padding-bottom: 5px;
   text-align: justify;
}

#other-posts {
   float: right;
   font-size: 12px;
   line-height: 25px;
   padding: 0 20px 20px;
   width: 250px;
} 

#other-posts .title {
  font-size: 1.4em;
  font-weight: normal;
}

#next_btn {
   font-weight: bold;
   float: right;
}

.content_image
{ float: left; 
  width: 150px;
  height: 150px;
  margin: 0 20px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
.content_container
{ width: 280px;
  padding: 5px;
  margin-right: 10px;
  float: left;
}

.content_container h3
{
  margin: 0 0 0px;
}

.content_container
{
  text-align: center;
}

.content_container > div.shareEgg {
	height: 123px;
	margin-top: 50px;
}

.content_container p
{
  font-size: 15px;
  margin: 10px 0 10px;
  padding-right: 10px;
  color: #5A5A5A;
}
  
#content_grey
 { width: 920px;
  height: 160px;
  text-align: center; 
  background: #1D1D1D;
  background: -moz-linear-gradient(#3F4A5F, #698DC5);
  background: -o-linear-gradient(#3F4A5F, #698DC5);
  background: -webkit-linear-gradient(#3F4A5F, #698DC5);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;} 
  
#content_grey p
 { color: #FFF;}  

#content_grey h4
{ text-shadow: none;}
  
.content_grey_container_box
{ width: 270px;
  padding: 5px;
  text-align: center;
  margin: 0px 10px 10px 10px;
  float: left;}

.content_grey_container_box p {
  padding: 0px;
}

.content_grey_container_boxl
{ width: 270px;
  padding: 5px;
  text-align: center;
  margin: 0px 0 10px 10px;
  float: left;}

.content_grey_container_boxl p {
  padding: 0px;
}
  
#footer
{ width: 920px;
  height: 20px;
  padding-top: 20px;
  text-align: center; 
  background: transparent;
  text-shadow: 1px 1px #fff;
  color: #535353;}

#footer a, #footer a:hover
{ color: #535353;
  text-decoration: none;
  padding-bottom: 20px;}

#footer a:hover
{ text-decoration: underline;}

#footer a, #footer a:hover
{ color: #535353;
  text-decoration: none;}

#footer a:hover
{ text-decoration: underline;}
  
 .readmore
{ font: bold 110% Arial, Helvetica, sans-serif;
  height: 15px;
  width: 80px;
  margin-left: 95px;
  padding: 5px 2px 7px 2px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
 .readmore a
{ color: #1D1D1D;}
 
 .button_small
{ font: normal 110% Arial, Helvetica, sans-serif;
  height: 15px;
  width: 80px;
  padding: 5px 2px 7px 2px;
  background: #1D1D1D;
  background: -moz-linear-gradient(#3F4A5F, #698DC5);
  background: -o-linear-gradient(#3F4A5F, #698DC5);
  background: -webkit-linear-gradient(#3F4A5F, #698DC5);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
.button_small a
{ color: #FFF;
  padding-left: 5px;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #5082BD; 
  color: #FFF;}

/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 680px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 0;
  margin-top: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 680px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px; 
  background: transparent url(../images/transparent.png) repeat;  
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;}
 
div.sighting_carousel {
  float: left;
  display: block;
  margin: 7px;
  padding: 9px;
  width: 184px;
  height: 70px;
  border-right: 1px solid #B0B0B0; 
  margin-right: 10px; 
  text-align: center;
}

p.activity {
  font-size: 12px;
}

/*  CARRUSEL MAPS*/

.image_carousel {
	padding: 30px 80px 80px 60px;
	position: relative;
}
.content_continent {
	border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
	width: 200px;
	height: 210px ;
	text-align: center;
}
a.prev, a.next { 
	background: url(/assets/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev {			left: 25px;
					background-position: 0 0; 
					top: 140px;}
a.prev:hover {		background-position: 0 -50px; }
a.prev.disabled {	background-position: 0 -100px !important;  }
a.next {			right: 25px;
					background-position: -50px 0; 
					top: 140px;}
a.next:hover {		background-position: -50px -50px; }
a.next.disabled {	background-position: -50px -100px !important;  }
a.prev.disabled, a.next.disabled {
	cursor: default;
}

a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background: url(/assets/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.pagination a span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}
.list_carousel {
  padding: 15px 0 15px 40px;
}
.list_carousel ul {
  list-style: none;
}
.list_carousel li {
  float: left;
  width: 134px;
  height: 100px;
  margin: 10px;
  font: 100% Arial,Helvetica,sans-serif;
}
.list_carousel a
{ color: #3F4A5F;
  background: transparent;
  outline: none;
  text-decoration: none;}

.share_bar {
  margin: 0 0 5px;
}

.player {
  margin-top: 10px;
  margin-bottom: 10px;
}


/*  CAJA DE ENVIO POR UFO REPORT */

.caja
{    
    width: 400px;
    height: 600px;
    background-color: #f4f4f4;
    font-size: 120%;
}
.caja-field
{
    width:160px;
    float:left;
}
.caja-field-normal
{
    float:left;
    width:260px;
}
.caja-sombra
{

    position: relative;
    float: left;
    padding: 2em;
    margin-left: 190px;
    margin-top: 50px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.caja-sombra:before, .caja-sombra:after
{

    content: "";
    position: absolute;
    z-index: -2;
}

.caja-sombra:before
{

    width: 24px;
    height: 46%;
    top: 0;
    right: -1px;
    display: inline-block;
    box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(2deg) translate(-20px, 25px) skew(-6deg);
    -moz-transform: rotate(2deg) translate(-20px, 25px) skew(-6deg);
    -o-transform: rotate(2deg) translate(-20px, 25px) skew(-6deg);
    transform: rotate(2deg) translate(-20px, 25px) skew(-6deg);
}

.caja-sombra:after
{

    display: inline-block;
    height: 46%;
    left: -7px;
    top: 0;
    width: 24px;
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(2deg) translate(20px,25px) skew(6deg);
    -moz-transform: rotate(2deg) translate(20px,25px) skew(6deg);
    -o-transform: rotate(2deg) translate(20px,25px) skew(6deg);
    transform: rotate(2deg) translate(20px,25px) skew(6deg);
}

.sombra-abajo-derecha
{

    content: '';
    width: 24px;
    height: 46%;
    bottom: 0;
    right: -1px;
    position: absolute;
    z-index: -1;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-2deg) translate(-20px,-25px) skew(6deg);
    -moz-transform: rotate(-2deg) translate(-20px,-25px) skew(6deg);
    -o-transform: rotate(-2deg) translate(-20px,-25px) skew(6deg);
    transform: rotate(-2deg) translate(-20px,-25px) skew(6deg);
}

.sombra-abajo-izquierda
{

    content: '';
    width: 24px;
    height: 46%;
    bottom: 0;
    left: -7px;
    position: absolute;
    z-index: -1;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-2deg) translate(20px,-25px) skew(-6deg);
    -moz-transform: rotate(-2deg) translate(20px,-25px) skew(-6deg);
    -o-transform: rotate(-2deg) translate(20px,-25px) skew(-6deg);
    transform: rotate(-2deg) translate(20px,-25px) skew(-6deg);
}

/* CAJAS DE TEXTO DEL FORMULARIO */
span.divrojo {
  color: red;
  float: left;
}
.actions {
  float: left;
  width: 190px;
}
.fieldufo{
    
    padding: 5px;   
    border: 1px solid #A9D0F5;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
.fieldufo:hover
{
    border:1px solid #58ACFA;
}
.fieldufo:focus
{
    box-shadow:0 0 2px #0040FF;
}
.thankreport {
    font: 165% Arial,Helvetica,sans-serif;
     margin: 30px;
}
.thankreport_foot{
    float: left;
    font: 165% Arial,Helvetica,sans-serif;
    color:green;
    margin: 70px;
}

#follow_us {
  float: right;
  margin-top: -10px;
}

.stats_table {
  float: left;
}

.stats_table th {
  border-bottom: 1px solid #1D1D1D;
  color: #1D1D1D;
}

.stats_table .even {
  background-color: #D1DCED;
}

.stats_table_left {
  text-align: left;
}

.stats_table_right {
  text-align: center;
}

table {
  border-collapse:collapse;
}

table > caption {
  font-size: 1.2em;
}

article > svg {
  position: relative;
  left: 20px;
  top: -580px;
}
