body {
    font: 80% Arial,Helvetica,sans-serif;
}

h1 {
    color: #1D1D1D;
    font: 175% Arial,Helvetica,sans-serif;
    letter-spacing: -1px;
    margin: 0 0 10px;
    text-shadow: 1px 1px #FFFFFF;
}
h2 {
    font: 155% Arial,Helvetica,sans-serif;
    margin-top: 25px;
    letter-spacing: -1px;
}
h3 {
    font: 170% Arial,Helvetica,sans-serif;
}
a , a:visited{
    color: #959C16;
    text-decoration: none;
}
a:hover, a:focus {
    color: #7D8212 ;
    text-decoration: underline;
    background-color: none !important;
}
.top {
    text-align: left;
    width: 85%;
    margin: 8px auto 0px auto;
    background-color: rgb(0, 136, 204);
    line-height: 18pt;
}
.popover {
      z-index: 9000;
 }

.tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
    border: 1px solid #e0e0e0;
    background-color: #fefefe;
    opacity: .9;
    color: black;
    padding: 10px;
    width: 300px;
    font-size: 7pt;
    z-index: 10;
}

.tooltip .title a {
    font-size: 8pt;
    font-weight: bold;
    color: #000;
}

article {
      margin: auto auto auto auto;
      text-align: left;
}

.span9 article{
      margin: auto auto auto auto;
      text-align: left;
}


svg {
      margin: 0 auto 20px auto;
      min-width: 960px;
      min-height: 600px;
}

a > circle {
      fill: #D7DF21;
}

a:visited > circle {
      fill: #08c;
      stroke: #00c;
}

a:hover > circle {
      stroke: #000;
}
.navbar .nav {
    display: block;
    float: left;
    font: bold 120% Arial,Helvetica,sans-serif;
    left: 0;
    margin: 5px 10px 5px 0;
    position: relative;
    font: bold 120% Arial,Helvetica,sans-serif;
}
.navbar-inverse{
    background-color: #D7DF21;
}
.navbar-inner {
    background-color: #D7DF21;
}
.btn-navbar {
    background-color: #BBC31C;
}
.navbar-inverse .btn-navbar {
    background-color: #BBC31C;
    background: #BBC31C;
    layer-background-color: #BBC31C;
    background-image: linear-gradient(to bottom, #BBC31C, #D7DF21);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
}
.navbar-inverse .btn-navbar:hover {
    background-color: #D7DF21;
}
.navbar-inverse .navbar-inner {
    background-color: #D7DF21;
    background: #D7DF21;
    layer-background-color: #D7DF21;
    background-image: linear-gradient(to bottom, #D7DF21, #D7DF21);
    background-repeat: repeat-x;
    border-color: #D7DF21;
}
ul#menunew li.active a {
    background: linear-gradient(#FFFFFF, #FFFFFF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-color: #FFFFFF;
    color: #1D1D1D;
    text-shadow: none;
    border-radius: 14px;
}
ul#menunew li a {
    color: #1D1D1D;
    text-shadow: none;
    border-radius: 14px;
}
ul#menunew li a:hover {
    background-color: #D7DF21;
    color: #1D1D1D;
    text-shadow: none;
    border-radius: 14px;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #000000;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
}
.footer {
      background-color: #1D1D1D;
      color: #D7DF21;
      font-color: #D7DF21;
      text-align: center;
}
.footer a{
      color: #D7DF21;
      font-color: #D7DF21;
}
.footer div{
      height: 40px;
      padding-top: 25px;
      margin-bottom: 10px;
      /*padding-left: 10px;*/
}
.postfooter {
      height: 100px;
}
.span_android{
    padding-top: 18px !important;
}
.link_android1 {
    color: #fff !important;
    font-weight: bold;
    padding-right: 5px;
}
.link_android2 {
    color: #fff !important;
    font-weight: bold;
    padding-left: 5px;
}


.table thead th {
    background-color: #D7DF21;
}

.player {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.player iframe,
.player object,
.player embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    height: 92%;
}

/*styles button send report*/

.submit-button-coordenate {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #D7DF21;
    /*padding:0 3px 0 3px;*/
    font-weight: bold;
    display:inline-block;
    text-decoration:none;
    background:#D7DF21;
    padding:5px;
    margin-top: 0px;
    cursor:pointer;
}
.submit-button-coordenate:hover {
    text-decoration:none;
    cursor:pointer;
    border:1px solid gray;
}
.submit-button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #D7DF21;
    /*padding:0 3px 0 3px;*/
    font-weight: bold;
    display:inline-block;
    text-decoration:none;
    background:#D7DF21;
    margin:50px;
    padding:10px;
    cursor:pointer;
}

.submit-button:hover {
    text-decoration:none;
    cursor:pointer;
    border:1px solid gray;
}
.textarea100 {
    width:90%;
    height:400px;
    margin-top: 10px;
}

.error {
    font-weight: bold;
    color: #FF0000;
    display:inline-block;
    margin-bottom: 30px;
    font: 155% Arial,Helvetica,sans-serif;
}

.divrojo {
    font-weight: bold;
    color: #FF0000;
    display:inline-block;
    font: 115% Arial,Helvetica,sans-serif;
}
.caja-text {
    float:left;
}
.thankyoureport {
    font-weight: bold;
    display:inline-block;
    color: #21610B;
    padding-top: 30px;
    text-align: center;
    font: 175% Arial,Helvetica,sans-serif;
}
.map-canvas {
    height:400px  !important;
    width:100% !important;
    margin: 0px !important;
    padding: 0px !important;
}

img {
    max-width: none;
}

/* Disclaimer */
a.disclaimer {
    padding-top: 15px;
}

div.disclaimer {
    background-color: #f5f5f5;
    margin-bottom: 0px;
    padding-top: 5px;
}

.black-txt {
    color: black;
}

.footer-link {
    margin: 0 10px 0 0;
    text-decoration: none;
    color: #7D821;
}

div.social {
    padding-top: 15px;
}

.social-icon {
    color: #d7df21;
    display: inline-block;
    font-size: 30px;
    -moz-transition: color 0.2s ease 0s;
    width:40px;
    text-decoration: none;
}
