  <%
  cache("common/partials/maps/v4/#{@ufo_list.hash}", expires_in: 12.hours) do

  zoom = 2
  center = [-40.57035354999999, 34.16473667601063]

  zoom = map_zoom if defined?(map_zoom)
  center = map_center if defined?(map_center)

  if defined?(selected_ufo) && selected_ufo.coord
    zoom = 8
    center = [selected_ufo.coord[0], selected_ufo.coord[1]]
  end

  if defined?(marker)
    center = [marker.coord[1], marker.coord[0]]
  end

  # Build GeoJSON
  features = []

  if defined?(selected_ufo) && selected_ufo.coord
    features << {
      type: 'Feature',
      geometry: { type: 'Point', coordinates: [selected_ufo.coord[0], selected_ufo.coord[1]] },
      properties: {
        title: "<strong>#{selected_ufo.location.gsub("'", "\\\\'").gsub('"', '&quot;')}</strong>",
        description: "#{format_date selected_ufo.sighted_at}<br/><strong><a href=\"#{sightings_search_path(id: selected_ufo.id, title: friendly_title(selected_ufo))}\">View sighting</a></strong>"
      }
    }
  end

  ufo_list.each do |ufo|
    begin
      next if ufo.coord.blank?
      features << {
        type: 'Feature',
        geometry: { type: 'Point', coordinates: [ufo.coord[0], ufo.coord[1]] },
        properties: {
          title: "<strong>#{ufo.location.gsub("'", "\\\\'").gsub('"', '&quot;')}</strong>",
          description: "#{format_date ufo.sighted_at}<br/><strong><a href=\"#{sightings_search_path(id: ufo.id, title: friendly_title(ufo))}\">View sighting</a></strong>"
        }
      }
    rescue => ex
      logger.info "Data error with doc #{ufo.id} - #{ex.class}: #{ex.message}"
      next
    end
  end

  geojson_data = { type: 'FeatureCollection', features: features }.to_json
  the_map_id = defined?(map_id) ? map_id : 'sightings-map'
  %>

  <%= content_tag(:script, nil,
    type: 'application/json',
    id: "#{the_map_id}-init",
    data: {
      target_id: the_map_id,
      geojson: geojson_data,
      center: center.to_json,
      zoom: zoom
    }) %>

  <script>
    (function() {
      var initEl = document.getElementById('<%= the_map_id %>-init');
      if (!initEl) return;
      var container = document.getElementById(initEl.dataset.targetId);
      if (!container) return;

      container.setAttribute('data-controller', 'sightings-map');
      container.setAttribute('data-sightings-map-geojson-value', initEl.dataset.geojson);
      container.setAttribute('data-sightings-map-center-value', initEl.dataset.center);
      container.setAttribute('data-sightings-map-zoom-value', initEl.dataset.zoom);
    })();
  </script>

  <%
  end
  %>
