<div class="player">
	<object width="500" height="281.25">
		<param name="movie" value="https://www.youtube.com/v/<%= video_id %>&hl=en_US&feature=player_embedded&version=2"></param>
		<param name="allowFullScreen" value="true"></param>
		<param name="allowScriptAccess" value="always"></param>
		<embed src="https://www.youtube.com/v/<%= video_id %>&hl=en_US&feature=player_embedded&version=2" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="500" height="281.25"></embed>
	</object>
</div>