<%
span_class = 'span4'

span_class = span if defined?(span)

cache("common/partials/ads/adaptable3/#{span_class}") do
%>
<div class="<%=span_class%>" itemscope itemtype="http://schema.org/WPAdBlock">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <%# AnuncioAdaptable3 %>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4760111415025425"
       data-ad-slot="4432690882"
       data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<%
end
%>
