<% cache("common/partials/ads/adaptable") do %>
<div class="span4" itemscope itemtype="http://schema.org/WPAdBlock">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <%# AnuncioAdaptable2 %>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4760111415025425"
       data-ad-slot="9142092084"
       data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<% end %>
